.testimonial_list {
	> .grid-container {
		padding: 2em 1em 0;

		@include breakpoint(large) {
			padding: 6% 14% 0;
		}
	}

	.text {
		text-align: center;

		@include breakpoint(small only) {
			margin-bottom: 2em;
		}

		@include breakpoint(medium) {
			padding: 0 6% 6%;
		}

		blockquote {
			border-left: 0;
			padding: 0;

			p {
				font-family: $header-font-family;
				font-style: italic;
				color: #1a1e22;

				@include breakpoint(large) {
					font-size: _l(24px);
					line-height: div(36, 24);
				}

				@include breakpoint(xlarge) {
					font-size: _xl(24px);
				}

				@include breakpoint(xxlarge) {
					font-size: _xxl(24px);
				}

				@include breakpoint(ylarge) {
					font-size: _xxxl(24px);
				}

				@include breakpoint(zlarge) {
					font-size: rem-calc(24px);
				}
			}
		}

		p {
			&.by-line {
				font-weight: 700;
				color: $blue;

				@include breakpoint(large) {
					font-size: _l(18px);
				}

				@include breakpoint(xlarge) {
					font-size: _xl(18px);
				}

				@include breakpoint(xxlarge) {
					font-size: _xxl(18px);
				}
				
				@include breakpoint(ylarge) {
					font-size: _xxxl(18px);
				}

				@include breakpoint(zlarge) {
					font-size: 18px;
				}
			}
		}
	}
}
