.gform_wrapper {

	@include breakpoint(large) {
		margin-bottom: 4em !important;
	}

	@include breakpoint(xxlarge) {
		padding: 0 10px 0 0 !important;
		margin: 50px 0 0 !important;
	}

	.gform_fields {
		display: flex !important;
		flex-wrap: wrap;
	}

	.gfield {
		width: 100%;
		margin: 0 0 20px !important;

		&.w50 {
			width: 50%;

			@include breakpoint(small down) {
				width: 100%;
			}
		}
	}

	.gfield_label {
	}

	.ginput_container {
		margin: 0 !important;
	}

	input {
		font-family: $body-font-family !important;
		font-weight: 300;
		height: auto;
		margin: 0 !important;

		@include breakpoint(xxlarge) {
			font-size: 18px !important;
			line-height: div(30, 18);
			padding: 12px 32px !important;
		}
	}

	textarea {
		font-weight: 300;
		margin: 0 !important;

		@include breakpoint(xxlarge) {
			font-size: 18px !important;
			line-height: div(30, 18);
			padding: 12px 32px !important;
			height: 200px !important;
		}

		@include breakpoint(xlarge) {
			height: 200px !important;
		}

		@include breakpoint(large) {
			height: 200px !important;
		}
	}

	.gfield_radio {
		display: flex;
		margin: 0 !important;

		li {
			margin-right: 20px !important;
			margin-bottom: 0 !important;

			input {
				vertical-align: sub !important;
			}

			label {
				font-size: 18px !important;

				@include breakpoint(small down) {
					font-size: 14px !important;
					width: auto !important;
				}
			}
		}
	}

	.gfield_consent_label {
		color: $white;

		@include breakpoint(xxlarge) {
			font-size: 21px;
			line-height: div(36, 21);
		}
	}

	.gform_footer {
		margin: 1em 0 0 !important;
		padding: 0 !important;
		width: auto !important;
		text-align: center;
	}

	.reset-button {
		float: right;
		margin-top: 1px !important;
		margin-right: 17px !important;
		padding: 16px 35px 17px 30px !important;
		font-weight: bold;
		font-size: 20px !important;
		border: 1px solid $black;
		background-color: $white;
		cursor: pointer;
		transition: all .5s ease;

		@include breakpoint(small down) {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			margin: 0 !important;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	.gform_button {
		background-color: $primary-color;
		font-family: $body-font-family !important;
		font-weight: 600;
		font-size: 18px !important;
		line-height: div(26, 18);
		letter-spacing: 0.2em;
		border-bottom: 0;

		@include breakpoint(large) {
			padding: 15px 118px !important;
		}

		&:hover {
			background-color: $secondary-color;
			color: $black;
		}
	}
}
