.accordion-item {
	margin-bottom: 35px;
	border-bottom: 6px solid $secondary-color;

	@include breakpoint(small only) {
		margin-bottom: 1em;
	}

	&.is-active {
		.accordion-title {
			background-color: $white;
			color: $primary-color;
			border-bottom: 0;

			@include breakpoint(small only) {
				padding-right: 4em;
			}

			&::before {
				content: '';
				width: 64px;
				height: 59px;
				background-image: image-url('accordion-arrow-up.png');

				@include breakpoint(small only) {
					right: 0;
				}
			}
		}
	}
}

.accordion-title {
	background-color: $primary-color;
	font-family: $header-font-family;
	font-weight: bold;
	line-height: div(48, 36);
	display: flex;
	align-items: center;
	min-height: 155px;

	@include breakpoint(small only) {
		padding: 1em 2em 1em 1em;
		font-size: 1em;
		min-height: auto;
	}

	@include breakpoint(xlarge only) {
		font-size: 1.4em;
	}

	@include breakpoint(large only) {
		font-size: 1.2em;
	}

	&:hover,
	&:focus {
		color: $white;
	}

	&::before {
		content: '';
		top: auto;
		right: 67px;
		margin-top: 0;
		width: 16px;
		height: 28px;
		background-image: image-url('accordion-arrow-right.png');

		@include breakpoint(small only) {
			right: 1em;
		}
	}
}

.accordion-content {
	font-size: 18px;
	line-height: div(36, 18);
	text-align: justify;

	@include breakpoint(small only) {
		padding: 1em;
	}

	p {
		margin-bottom: 2em;

		@include breakpoint(small only) {
			margin-bottom: 1em;
		}
	}

	ul {
		list-style: none;
		margin-bottom: 2em;

		li {
			margin-bottom: 2em;

			@include breakpoint(small only) {
				margin-bottom: 1em;
			}
		}
	}
}
