.main {
	min-height: calc(100vh - #{$header-height} - #{$footer-height});

	.article {
		h1 {}

		h2 {
			&.page-title {
				margin-bottom: 1em;
			}
		}

		h3 {}

		h4, h5, h6 {

		}

		.page-content {}
	}

	.page {
		> .grid-container {
			padding: 2em 1em;
		}
	}

	.blog {
		> .grid-container {
			padding: 2em 1em;
		}

		&--index {
			.page-content {
				padding-bottom: 2em;
				margin-bottom: 2em;
				border-bottom: 1px solid $light-gray;
			}
		}

		&--single {}
	}
}
